@charset "utf-8";
body {
  position: relative;
}
.container {
  position: absolute;
  top: calc(50% - 28px);
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap {
  background: linear-gradient(217deg, rgb(241, 204, 255), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(187, 231, 255, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(133, 133, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  width: 1024px;
  height: 600px;
}
.header {
  background-color: #fff;
  height: 54px;
  position: relative;
}
.header .logo {
  font-size: 22px;
  line-height: 54px;
  text-align: center;
}

/* common */
.ico {
  width: 15px;
  height: 15px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

.loginBox {
  position: absolute;
  top: 0;
  right: 0;
  height: 54px;
  line-height: 54px;
}
.loginBox .setting,
.loginBox .join,
.loginBox .in,
.loginBox .out {
  cursor: pointer;
}
.loginBox .img {
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 6px;
}
.loginBox .setting .img {
  background-image: url('../img/set.png');
}
.loginBox .join .img {
}
.loginBox .in .img {
  background-image: url('../img/login.png');
}
.loginBox .out .img {
  background-image: url('../img/logout.png');
}
.loginBox span {
  display: block;
}

.content {
}
.box {
  background-color: #fff;
  padding: 16px;
  border-radius: 14px;
}
.content .box1 {
  width: 20%;
}
.content .box2 {
  width: 60%;
}
.content .box3 {
  width: 20%;
}

/* 프로필 영역 */
.box1 {
}
.box1 .profileImg {
  border-radius: 14px;
  background-size: cover;
  background-image: url('../img/iu.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}
.box1 .name {
}
.box1 .text {
  max-height: 160px;
  overflow-y: scroll;
}
.box1 .ico {
  background-image: url('../img/edit.png');
}
.box1 span {
  display: block;
  color: #888;
}

/* 게시판 리스트 영역 */
.box2 {
  height: 514px;
}
/* .box2 .tit{color: #907fdd;} */
.box2 .tit {
  color: #99bfe8;
}

.box2 .viewBox {

}
.box2 .viewBox li{
  width: 20px; height: 20px; margin-right: 6px;
}
.box2 .viewBox .view1{background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath fill='%23DDD' fill-rule='evenodd' d='M2.75 4.13c0-.762.613-1.38 1.38-1.38h4.574c.762 0 1.38.613 1.38 1.38v4.574c0 .762-.613 1.38-1.38 1.38H4.129a1.377 1.377 0 0 1-1.379-1.38V4.129Zm0 9.166c0-.762.613-1.38 1.38-1.38h4.574c.762 0 1.38.613 1.38 1.38v4.575c0 .761-.613 1.379-1.38 1.379H4.129a1.377 1.377 0 0 1-1.379-1.38zm9.167-9.167c0-.761.612-1.379 1.379-1.379h4.575c.761 0 1.379.613 1.379 1.38v4.574c0 .762-.613 1.38-1.38 1.38h-4.574c-.762 0-1.38-.613-1.38-1.38zm0 9.167c0-.762.612-1.38 1.379-1.38h4.575c.761 0 1.379.613 1.379 1.38v4.575c0 .761-.613 1.379-1.38 1.379h-4.574c-.762 0-1.38-.613-1.38-1.38z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;}
.box2 .viewBox .view1.on{background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath fill='%23444' fill-rule='evenodd' d='M2.75 4.13c0-.762.613-1.38 1.38-1.38h4.574c.762 0 1.38.613 1.38 1.38v4.574c0 .762-.613 1.38-1.38 1.38H4.129a1.377 1.377 0 0 1-1.379-1.38V4.129Zm0 9.166c0-.762.613-1.38 1.38-1.38h4.574c.762 0 1.38.613 1.38 1.38v4.575c0 .761-.613 1.379-1.38 1.379H4.129a1.377 1.377 0 0 1-1.379-1.38zm9.167-9.167c0-.761.612-1.379 1.379-1.379h4.575c.761 0 1.379.613 1.379 1.38v4.574c0 .762-.613 1.38-1.38 1.38h-4.574c-.762 0-1.38-.613-1.38-1.38zm0 9.167c0-.762.612-1.38 1.379-1.38h4.575c.761 0 1.379.613 1.379 1.38v4.575c0 .761-.613 1.379-1.38 1.379h-4.574c-.762 0-1.38-.613-1.38-1.38z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat}
.box2 .viewBox .view2{background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath fill='%23DDD' fill-rule='evenodd' d='M2.75 4.126c0-.76.616-1.376 1.38-1.376h7.322c.763 0 1.381.622 1.381 1.376v.915c0 .76-.615 1.376-1.38 1.376H4.13a1.38 1.38 0 0 1-1.381-1.376v-.915Zm11.917 0c0-.76.618-1.376 1.375-1.376h1.833c.76 0 1.375.622 1.375 1.376v.915c0 .76-.618 1.376-1.375 1.376h-1.833a1.38 1.38 0 0 1-1.375-1.376zM2.75 10.542c0-.76.616-1.375 1.38-1.375h7.322c.763 0 1.381.622 1.381 1.375v.916c0 .76-.615 1.375-1.38 1.375H4.13a1.38 1.38 0 0 1-1.381-1.375v-.916Zm11.917 0c0-.76.618-1.375 1.375-1.375h1.833c.76 0 1.375.622 1.375 1.375v.916c0 .76-.618 1.375-1.375 1.375h-1.833a1.38 1.38 0 0 1-1.375-1.375zM2.75 16.96c0-.76.616-1.376 1.38-1.376h7.322c.763 0 1.381.622 1.381 1.376v.915c0 .76-.615 1.376-1.38 1.376H4.13a1.38 1.38 0 0 1-1.381-1.376v-.915Zm11.917 0c0-.76.618-1.376 1.375-1.376h1.833c.76 0 1.375.622 1.375 1.376v.915c0 .76-.618 1.376-1.375 1.376h-1.833a1.38 1.38 0 0 1-1.375-1.376z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat }
.box2 .viewBox .view2.on{background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath fill='%23444' fill-rule='evenodd' d='M2.75 4.126c0-.76.616-1.376 1.38-1.376h7.322c.763 0 1.381.622 1.381 1.376v.915c0 .76-.615 1.376-1.38 1.376H4.13a1.38 1.38 0 0 1-1.381-1.376v-.915Zm11.917 0c0-.76.618-1.376 1.375-1.376h1.833c.76 0 1.375.622 1.375 1.376v.915c0 .76-.618 1.376-1.375 1.376h-1.833a1.38 1.38 0 0 1-1.375-1.376zM2.75 10.542c0-.76.616-1.375 1.38-1.375h7.322c.763 0 1.381.622 1.381 1.375v.916c0 .76-.615 1.375-1.38 1.375H4.13a1.38 1.38 0 0 1-1.381-1.375v-.916Zm11.917 0c0-.76.618-1.375 1.375-1.375h1.833c.76 0 1.375.622 1.375 1.375v.916c0 .76-.618 1.375-1.375 1.375h-1.833a1.38 1.38 0 0 1-1.375-1.375zM2.75 16.96c0-.76.616-1.376 1.38-1.376h7.322c.763 0 1.381.622 1.381 1.376v.915c0 .76-.615 1.376-1.38 1.376H4.13a1.38 1.38 0 0 1-1.381-1.376v-.915Zm11.917 0c0-.76.618-1.376 1.375-1.376h1.833c.76 0 1.375.622 1.375 1.376v.915c0 .76-.618 1.376-1.375 1.376h-1.833a1.38 1.38 0 0 1-1.375-1.376z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;}
.box2 .viewBox .view3{background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath fill='%23DDD' d='M17.417 2.75H4.583c-1.012 0-1.833.82-1.833 1.833V8.25c0 1.013.82 1.833 1.833 1.833h12.834c1.012 0 1.833-.82 1.833-1.833V4.583c0-1.012-.82-1.833-1.833-1.833m0 9.167H4.583c-1.012 0-1.833.82-1.833 1.833v3.667c0 1.012.82 1.833 1.833 1.833h12.834c1.012 0 1.833-.82 1.833-1.833V13.75c0-1.012-.82-1.833-1.833-1.833'/%3E%3C/svg%3E") no-repeat}
.box2 .viewBox .view3.on{background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath fill='%23444' fill-rule='evenodd' d='M4.583 2.75h12.834c1.012 0 1.833.82 1.833 1.833V8.25c0 1.013-.82 1.833-1.833 1.833H4.583A1.833 1.833 0 0 1 2.75 8.25V4.583c0-1.012.82-1.833 1.833-1.833m0 9.167h12.834c1.012 0 1.833.82 1.833 1.833v3.667c0 1.012-.82 1.833-1.833 1.833H4.583a1.833 1.833 0 0 1-1.833-1.833V13.75c0-1.012.82-1.833 1.833-1.833' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;}
.list {
  height: 480px;
  overflow-y: scroll;
}
.item {
  cursor: pointer;
  padding: 14px 0;
  border-bottom: 1px solid #ebebeb;
  transition: 0.2s;
}
.item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.item .thumbnail {
}
.item .text {
}
.item .text .date {
  display: block;
  color: #b8b8b8;
}
.item .text .btext {
}

.dateBox {
  background-color: #fff;
  padding: 16px;
  border-radius: 14px;
  margin-bottom: 12px;
}
/* 게시판 상세보기 */

.box.detail{height: 514px;width: 100%;padding: 32px;}
.detailContainer{height: 100%; overflow-y: scroll;}
.box.detail .title{font-size: 22px; font-weight: bold; line-height: 22px; margin-bottom: 20px; padding: 4px 0; display: inline-block; word-break: break-all; position: relative;}
.box.detail .title::after{content: ''; width: 100px; height: 1px; background-color: #99bfe8; bottom: -4px; left: 0; display: block; position: absolute;}
.box.detail .contents{color: #888; word-break: break-all;}
.box.detail .img{display: block; background-image: url('../img/sample.jpg'); width: 400px; height: inherit; background-position: center; background-repeat: no-repeat; background-size: contain;}

/* textarea */
.profileSubConent textarea {
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.profileSubConent textarea:focus {
  /* outline: 1px solid #99bfe8; */
  /* outline: 1px solid #907fdd; */
  outline: 1px solid #a1a0c9;
}

/*  */
.profileBox2.login{
  width: 40%;
}
.profileBox2.login .box{
  margin-top: 0;
  height: 478px;
}
.profileBox2.login .find p:nth-child(1){margin-right: 10px;}

.pfBtn {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* position: absolute; */
  bottom: 20px;
  left: 0;
  width: 100%;
}
.pfBtn .profileBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
.profileBtn:hover {
  transition: ease-in 0.2s;
  color: #fff;
  border: 1px solid #907fdd;
  background-color: #907fdd;
}


/* 카카오톡 로그인 버튼 스타일 */
.kakao-login-btn {
  margin: auto;
  display: block;
  background-color: #f7e417;
  color: #000;
  font-family: Arial, sans-serif;
  /* font-size: 16px; */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kakao-login-btn .ico {
  display: block;
  width: 20px; height: 20px;
  background-image: url('../img/kakao.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.kakao-login-btn:hover {
  background-color: #f8eb8f;
}

.kakao-login-btn:active {
  background-color: #e5d925;
  box-shadow: none;
}
